<app-navigation title='Home'></app-navigation>
<div class='home-container'>
  <div class='content-container'>
    <img src="https://media0.giphy.com/media/GFx8FbQcOMLT5wThmd/200w.webp" alt="animate" />
    <div class='text-container'>
      <h1>WELCOME</h1>
      <p style="color: primary;">
          This is all about me. Enjoy
      </p>
      <img src="https://media3.giphy.com/media/g96QRNjWUvdKw/giphy.gif?cid=ecf05e47c3800a655d60b492772c2bdf6ee2ad62f6e7d384&rid=giphy.gif&ct=g"/>
    </div>
  </div>
</div>